@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos cursos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
    --fonte: 'Roboto', sans-serif;

    --corazul-esc:#023047;
    --corazul-cl: #219EBC;
    --corazul-cl2: #8ECAE6;
    --coramarelo: #FFB703;
    --corlaranja: #FB8500;
    --corbranco:#f5f5f5;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

body{
    background-color: var(--corbranco);
    font-family: var(--fonte);
}

a,
a:hover, 
a:active,
a:link,
a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p{
    line-height:21.82px;
    padding: 0px 10px;
}

.section_titulo{
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom:10px ;
}

img{
    display: block;
    max-width: 100%;
}

/**********************************/
/* 2. Menu
/**********************************/

.menu-bg{
    background-color: var(--corazul-esc);
    
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0px auto;
    flex-wrap: wrap;

}

.menu_logo > a{
    margin: 10px;
    display: block;
    font-size: 2em;

}

.nav_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav_link, .nav_list > li{
    list-style: none;
    padding: 20px 10px;
}

/**********************************/
/* 3. Header
/**********************************/

.intro{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0px auto;
    padding: 25px 0px;
}

hr{
    height: 2px;
    width: 140px;
    border: none;
    margin: 20px auto;
    
    background-color: var(--coramarelo);
}

/**********************************/
/* 4. Quem somos
/**********************************/

.somos{
    max-width: 960px;
    margin: 0px auto;
}

.somos-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.somos-cont_txt{
    flex-grow: 6;
    flex-shrink: 1;
    flex-basis: 160px;
}

.somos-cont_img{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 360px;
}



/* 
.quemsomos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quemsomos-txt > p{
    max-width: 600px;
    margin-top: 15px;
    line-height: 28px;
}

.quemsomos-img > img{
    width: 400px;
} */

/**********************************/
/* 5. Nossos cursos
/**********************************/

/**********************************/
/* 6. Planos
/**********************************/

/**********************************/
/* 7. Vantagens
/**********************************/

/**********************************/
/* 8. Newsletter
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/